<!DOCTYPE html>
<html>
  <body>
    <h1>Successful Hide!</h1>
    <h4>Image name: {{imageName}}</h4>
    <h4>Hidden message: {{msgContent}}</h4><br><br>
    <ul>
      <li><a href="/hidePage.html">Hide Page</a></li>
      <li><a href="/unhidePage.html">Unhide Page</a></li>
    </ul>
  </body>
</html>
