<!DOCTYPE html>
<html>
  <head>
    <style>
      .container {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h1>Hide Page</h1>

      <h4> {{errMessage}} </h4>
      <form action="/hidePage.html" method="post">

        {{#imageList.length}}
          {{#imageList}}
            <input type="radio" value={{.}} name="answer">{{.}}<br><br>
          {{/imageList}}
        {{/imageList.length}}

        Type in the contents of the message you would like to hide:<br>
        <input type="text" name="messageContent"><br><br>


        <input type="submit" value="Submit">
      </form>


    </div>
  </body>
</html>
