<!DOCTYPE html>
<html>
  <body>
    <h1>Welcome to the Web Programming Project 4 Home Page!</h1>
    <ul>
      <li><a href="/hidePage.html">Hide Page</a></li>
      <li><a href="/unhidePage.html">Unhide Page</a></li>
    </ul>
  </body>
</html>
